.App {
  text-align: center;
}

.board {
  background: #005eb3;
  width: 800px;
  margin: auto;
  padding: 8px;
}

.board > .cell {
  width: calc(800px / 7 - 8px);
  height: calc(800px / 7 - 8px);
  background: white;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 4px;
}

.board > .cell[data-player = 'playerOne'] {
  background: yellow;
}

.board > .cell[data-player = 'playerTwo'] {
  background: red;
}
